In [1]:
import boto3
from io import BytesIO
import pandas as pd
import os

In [30]:
MINIO_ENDPOINT = os.getenv("MINIO_ENDPOINT")
MINIO_ACCESS_KEY = os.getenv("MINIO_ACCESS_KEY")
MINIO_SECRET_KEY = os.getenv("MINIO_SECRET_KEY")
MINIO_BUCKET = os.getenv("BUCKET_NAME")
FILENAME = "youtube_search.parquet"

In [31]:
s3 = boto3.client(
    "s3",
    endpoint_url="http://localhost:9000",  # <-- fix here
    aws_access_key_id=MINIO_ACCESS_KEY,
    aws_secret_access_key=MINIO_SECRET_KEY
)

# download the file into memory
obj = s3.get_object(Bucket=MINIO_BUCKET, Key=FILENAME)
df = pd.read_parquet(BytesIO(obj['Body'].read()))
print(f"Number of rows: {df.shape[0]}")

Number of rows: 586

In [32]:
df

    query     video_id genre
0     pop  SYM-RJwSGQ8   pop
1     pop  6JnGBs88sL0   pop
2     pop  C-u5WLJ9Yk4   pop
3     pop  cb12KmMMDJA   pop
4     pop  nmjdaBaZe8Y   pop
..    ...          ...   ...
581   r&b  KcoH2MSphaU   r&b
582   r&b  Y0qZ2WbPsFM   r&b
583   r&b  ewCmp5Xsa20   r&b
584   r&b  XsYoZ6OCIWs   r&b
585   r&b  FFvMszeEWTM   r&b

[586 rows x 3 columns]

In [29]:
print(f"Number of rows: {df.shape[0]}")
print("Column names:")
print(df.columns.tolist())

Number of rows: 10
Column names:
['id', 'title', 'artist', 'album', 'link', 'duration']